body {
  font-family: Arial, sans-serif;

  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 100%,
    rgba(0, 0, 0, 1) 56%,
    rgba(237, 221, 83, 1) 0%
  );
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
}

li {
  background: midnightblue;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
  transition: 0.5s ease;
  text-align: center;
}

li img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

h1 {
  margin: 0 0 8px;
}

 p {
  font-size: 14px;
  color: #adadad;
}

li:hover {
  transform: translateY(-20px);
  box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.547);
}

input,
select {
  padding: 6px 15px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #404040;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
  min-width: 200px;
  background-color: white;
  color: rgb(130, 130, 130);
}
.button-24 {
  background: black;
  border: 1px solid midnightblue;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  text-decoration: none;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: black;
  background-color: skyblue;
}

.button-24:active {
  opacity: .5;
} 
